.header
    display: flex
    flex-direction: row
    padding: 18px

.headerLeftSide
    display: flex
    align-items: center

.headerRightSide
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%
    padding-left: 10px
    padding-right: 3px

.userAndAvatar
    display: flex
    align-items: center
    gap: 13px

.companyLogo
    cursor: pointer

.menuButton
    cursor: pointer

.cartButton
    cursor: pointer

.avatar
    border: 2px solid transparent
    border-radius: 50%
    &:hover
        border: 2px solid var(--orange)
