.sliderContainer
    display: flex
    overflow-x: hidden
    max-width: 375px
    position: relative
    button
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        border-radius: 50%
        background-color: var(--light-grayish-blue)
        z-index: 1
        top: 130px
        height: 40px
        width: 40px
        
.carousel
    display: flex
    flex-direction: row

.nextButton
    right: 17px

.prevButton
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    border-radius: 50%
    background-color: var(--light-grayish-blue)
    z-index: 1
    top: 130px
    height: 40px
    width: 40px
    left: 17px
    padding-left: 2px

.productImage
    width: 375px
    height: 300px
    object-fit: cover

.productImageContainer
    width: 375px
    overflow-x: hidden